/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    background-color: #f4f4f4;
}

/* Cabeçalho */
header {
    background: #333;
    color: #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: none   ;
}

header h1 {
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

header p {
    text-align: center;
    margin: 0;
}

/* Seções */
section {
    padding: 20px;
    margin: 0 15%;
    display: none   ;
}

/* Títulos das Seções */
section h2 {
    color: #333;
}

/* Artigos / Entradas de Experiência e Educação */
article {
    margin-bottom: 15px;
}

/* Detalhes da Experiência e Educação */
h3 {
    margin-top: 0;
    color: #444;
}

/* Listas */
ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Links */
a {
    color: #333;
}

a:hover {
    color: #777;
}

.linkRede:link{
    color: black ! important;
}
/* Estilo Responsivo */
@media (max-width: 768px) {
    section {
        margin: 0 5%;
    }
}


a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


 /* Estilos CSS para centralizar o pré-carregador */
 #preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  #preloader img {
    width: 100px;
    height: 100px;
    animation: rotate 2s linear infinite;
  }

  #foto {
    width: 100%;
  }
  a:link{
    color: black;
  }
  .ficha{
    margin: 0 !important;
    padding: 20px !important;
  }
  .iconeRede {
    width: 50px;
    padding-right: 10px;
  }
  .linkRede{
    color: black !important;
    text-decoration: none !important;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

